.billing-details-container {
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 30px;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    border-radius: 10px;
  }
  
  .billing-details {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

  }
  
  .billing-details-left, .billing-details-right {
    width: 48%;
  }
  
  .billing-details-left {  
    color: #333;
  }
  
  .billing-details-left p {
    margin-bottom: 10px;
    font-size: 18px;
  }
  
  .billing-details-left strong {
    color: #333;
  }
  
  .billing-details-right {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 16px;
  }
  
  .billing-details-right h3 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
  }
  
  .billing-details-right ul {
    list-style: none;
    padding: 0;
  }
  
  .billing-details-right ul li {
   
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
  }
  
  .billing-details-right ul li div {
    margin-right: 20px;
  }
  
  .billing-details-right img {
    border-radius: 8px;
    width: 100px;
    height: 100px;
    object-fit: cover;
  }
  
  .billing-details-right p {
    margin: 5px 0;
  }
  
  .billing-details-right .total-price,
  .billing-details-right .delivery-charge,
  .billing-details-right .checkout-date {
    margin-top: 15px;
  }
  
  .billing-details .divider {
    width: 100%;
    height: 1px;
    background-color: #ddd;
    margin: 20px 0;
  }
  
  .billing-details-button {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
  
  .billing-details-button button {
    padding: 10px 20px;
    background-color: #292c29;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background: linear-gradient(to right, #ff6f61, #ff94d9);
    color: #292c29;
  }
  
  .billing-details-button button:hover {
    opacity: 0.9;
  }
  
  .billing-details-button a {
    display: inline-block;
    padding: 8px 16px;
    color: #f44336;   
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.3s ease;
  }
  
  .payment{
    margin-top: 20px;
  }

  .payment-options label [type=radio]{
    margin-right: 10px;
    margin-top: 20px;
  }

  .payment-options label {
    margin-right: 10px;
    margin-top: 20px;
  }



.apply-coupon p{
  margin-top: 20px;
  font-size: 16px;
}

.apply-coupon .be-member{
  font-size: 13px;
  color: #f44336;
}

.apply-coupon .be-member a{
  font-size: 13px;
  color: #f44336;
}

.apply-coupon .member-coupon{
  font-size: 13px;
  color: #f44336;
  background-color: #ddd6d562;
  border: 1px solid #f4433642;
  padding: 5px 10px;
  width: 200px;
}

.coupon-code {
  display: flex;
  align-items: center;
  border: 2px solid #ccc;
  border-radius: 25px;
  overflow: hidden;
  width: 300px;
  margin-top: 10px;
}

.coupon-code input {
  flex: 1;
  border: none;
  padding: 10px;
  outline: none;
  
}

.coupon-code button {
  border: none;
  padding: 10px 20px;
  background: linear-gradient(to right, #ff6f61, #ff94d9);
  color: white;
  border-radius: 25px;
  cursor: pointer;
}

.coupon-code button:hover {
 opacity: 0.9;
}


@media(max-width:768px){
  .billing-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }

  .billing-details-left{
    width: 80%;
  }

  .billing-details-right {
    width: 90%;
  }

  .billing-details-right{
    margin-top: 40px;
  }

  .billing-details-button {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 10%;
  }
  
}
