.l-form {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;  
    overflow: hidden;
    margin-top: 50px;
    
}

.form {
    background: #fff;
    border-radius: 15px;
    border: 1px solid #3536368a;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    padding: 2rem;
    width: 400px;
    
}

.form__title {
    font-size: 1.5rem;
    color: #333;
    text-align: center;
    margin-bottom: 1.5rem;
    font-weight: 600;
}

.form__div {
    position: relative;
    margin-bottom: 1.5rem;
}

.form__icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #4facfe;
    font-size: 1.2rem;
}

.form__input {
    width: 100%;
    padding: 0.75rem 0.75rem 0.75rem 2.5rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 1rem;
    outline: none;
    transition: border 0.3s;
}

.form__input:focus {
    border-color: #2a2b2c;
}


/* 
.form__input  input[type="text"], 
.form__input  input[type="email"], 
.form__input  input[type="number"] {
  width: 100%;

} */

.error-message {
    color: #e74c3c;
    font-size: 0.875rem;
    margin-top: 0.25rem;
}

.password {
    display: flex;
    align-items: center;
    position: relative;
}

.toggle-password {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #2a2b2c;
}

.form__button {
    width: 100%;
    /* background: linear-gradient(135deg, #4facfe, #00f2fe); */
    background: linear-gradient(135deg, #000000, #434343);
    color: #fff;
    border: none;
    padding: 0.75rem;
    margin-top: 20px;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
}

.form__button:disabled {
    background: #ddd;
    cursor: not-allowed;
}

.form__button:hover:not(:disabled) {
    background: linear-gradient(135deg, #000000, #434343);
}

.form__social {
    margin-top: 1rem;
    text-align: center;
}

.form__social-text {
    font-size: 0.875rem;
    color: #333;
}

.form__social-text a {
    color: #232629;
    text-decoration: none;
    font-weight: bold;
    margin-left: 0.25rem;
}

.form__social-text a:hover {
    text-decoration: underline;
}

.spin {
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 2px solid #fff;
    border-top: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    animation: spin 0.6s linear infinite;
}

.forgot a{
 color: #232629;
 text-decoration: none;
}




@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
