@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400&family=Poppins:ital,wght@0,100;0,200;0,300;1,100&display=swap');




  .news {
    position: relative;
    height: 400px;
    background-image: url('https://images.deepai.org/art-image/4393adf659be4284a9806610e0d800bb/vertical-background-girl-using-perfume.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
    padding: 20px;
    margin-top: 30px;
  }
  
  .news-text {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent background */
    padding: 20px 40px;
    border-radius: 10px;
  }
  
  .news-text h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: white;
  }
  
  .news-text input {
    width: 60%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
  
  .news-text input:focus {
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
  
 
  

  .email-subscription {
    display: flex;
    align-items: center;  
    /* box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1); */
    border-radius: 30px;
    padding: 10px;
    width: 400px;
  }
  
  /* Input styling */
  .email-subscription input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 16px;
    padding: 10px 20px;
    background: transparent;
    color: white;
    border-radius: 30px 0 0 30px;
  }
  
  /* Button styling */
  .email-subscription button {
    border: none;
    outline: none;
    background: linear-gradient(to right, #ff6f61, #ff94d9);
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 11px 20px;
    border-radius: 0 30px 30px 0;
    margin-top: -10px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  /* Button hover effect */
  .email-subscription button:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(255, 111, 97, 0.4);
  }
  
  /* Input placeholder styling */
  .email-subscription input::placeholder {
    color: white;
    font-weight: 300;
  }


  @media(max-width:440px){
    .news-text {
       width:90%;
    }

    .email-subscription {
      width: 200px;
    }
  }