
   .order {
    text-align: center;
    margin-top: 50px;
    background-color: #fff;
    border-radius: 12px;
    padding: 30px 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    transition: all 0.3s ease-in-out;
  }
  
  .order h2 {
    font-size: 2rem;
    color: #333;
    font-weight: 600;
    margin-bottom: 20px;
  }
  
  .order p {
    font-size: 1rem;
    color: #333;
    margin-top: 10px;
    font-weight: 400;
  }
  
  .order-icon-container {
    margin-top: 30px;
    margin-bottom: 20px;
  }
  
  .order-icon {
    font-size: 60px;
    color: #4CAF50; /* Green color for the tick mark */
    animation: tickAnimation 1s infinite ease-in-out;
  }
  
  @keyframes tickAnimation {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(30deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
  
  .order-details {
    margin-top: 10px;
    font-size: 20px;
    color: #666;
    line-height: 1.6;
  }
  
  /* Add hover effect for the container */
  .order:hover {
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
    transform: translateY(-5px);
  }
  
