/* 

  @media (max-width: 768px) {
    .product-info {
      flex-direction: column;
      align-items: center;
    }
  
    .product-info img {
      width: 150px;
      height: 150px;
    }
  
    .create-review,
    .review {
      padding: 15px;
    }
  
    .reviews {
      flex-direction: column;
    }
  
    .search-container input {
      font-size: 1rem;
      padding: 10px;
    }
  
    .review-actions button {
      font-size: 0.9rem;
      padding: 8px 12px;
    }
  
    button {
      font-size: 0.9rem;
      padding: 8px 15px;
    }
  }
  */



.review-page {
    max-width: 90%;
    margin: 0 auto;
    padding: 30px;
    font-family: 'Inter';
    
}

.info-create{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.product-img img{
    width: 220px;
    height: 220px;
    border-radius: 10px;
}

.review-product-info p{
    color: #333;
    font-size: 18px;
    margin-top: 20px;
}

.create-review{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    color: #333;
}

.create-review span{
    color:   #e94560;;
}

.create-review textarea {
    height: 200px;
    width: 500px;
    padding: 15px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    resize: none;
    margin-bottom: 10px;
    margin-top: 20px;
    outline: none;
  }

  .create-review button {
    padding: 10px 20px;
    background-color: #1e1e1f;
    color: white;
    font-size: 15px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background: linear-gradient(to right, #ff6f61, #ff94d9);
    color: #292c29;
  }
  
  .create-review button:hover {
    background-color: #141314;
    background-color: #e94560;
  }
  
  .create-review button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }

  .review-no{
    margin-top: 20px;
    color: #333;
  }


  .review-search-container {
    margin-bottom: 20px;
  }
  
  .review-search-container input {
    width: 40%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
    margin-top: 20px;
    transition: all 0.3s ease;
  }
  
  .review-search-container input:focus {
    box-shadow: 0 0 8px rgba(58, 58, 59, 0.5);
  }


  .reviews {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .review {
    padding: 40px;
    background-color: #f9f9f9;
    border-radius: 5px;
    border: 1px solid #5555551e;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .review p {
    color: #555;
    font-size: 16px;
    line-height: 1.6;
  }
  
  .review .post {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .review .poster span {  
   color: #e94560;
  }

  .post .date{
    font-size: 14px;
  }
  
  .review-actions {
    display: flex;
    gap: 15px;
    align-items: center;
  }

  .review-actions button {
    padding: 5px 5px;
    margin-top: 20px;
    background-color: transparent;
    color: rgb(41, 38, 38);
    font-size: 1rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .review-actions button:hover {
    background-color: #92919b31;
  }
  
  .review-actions button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  

  .reviews textarea {
    height: 200px;
    width: 500px;
    padding: 15px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    resize: none;
    margin-bottom: 10px;
    margin-top: 20px;
    outline: none;
  }

  .reviews button {
    padding: 10px 15px;
    margin-left: 10px;
    background-color: #1e1e1f;
    color: white;
    font-size: 15px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background: linear-gradient(to right, #ff6f61, #ff94d9);
    color: #292c29;
  }
  
  .reviews button:hover {
    background-color: #2e2c2e;
    background-color: #e94560;
  }

  .recommend label [type=radio]{
    margin-right: 10px;
    margin-top: 20px;
  }

  .recommend label {
    margin-right: 10px;
    margin-top: 20px;
  }

  .recommended {
    color: green;
    font-size: 16px;
  }
  
  .not-recommended {
    color: red;
    font-size: 16px;
  }
  
  .no-recommendation {
    color: black;
    font-size: 16px;
  }
  


  /* Progress bar container */
.progress-bar {
  width: 50%;
  height: 10px;
  background-color: #f0f0f0;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 10px;
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Progress bar fill (the part that shows the progress) */
.progress-bar-fill {
  height: 100%;
  background-color: #5c5a5a; /* Green color for the progress */
  width: 0%; /* Will be dynamically set using inline style */
  border-radius: 10px;
  transition: width 0.3s ease-in-out; /* Smooth transition */
  background: linear-gradient(to right, #ff6f61, #ff94d9);
  
}


@media(max-width:900px){

  .product-img img{
    margin-top: 20px;
    margin-right: 20px;
  }


.info-create{
  margin-left: 2%;
}


}


@media(max-width:768px){
 
  .info-create{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .product-img img{
    margin-top: 20px;
  }

  .review-product-info{
    margin-left: 15%;
  }

  .create-review{
    margin-left: 10%;
  }

  .create-review textarea{
    width: 96%;
  }
  .create-review button{
    width: 95%;
  }

  .review-search-container input {
    width: 70%;
  }
}